<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to the site!</h1>

    <h2>here is a pic of a puppy</h2>

    <!--Przekazywanie zmiennych pythona do HTML przez render_template patrz basic_flask_templates-->
    <h1>Hello! {{html_name}}</h1>
    <h2>Letters: {{html_letters[2:]}}</h2>
    <h1>Pup dictonary: {{html_pup_dict['pup_name']}}</h1>
   <!-- <img src="../static/puppy_pic.jpg" alt=""> -->
    
</body>
</html>