{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">{{post.title}}</h1>
        <p class="lead">Written by: {{post.author.username}}</p>
        <p class="lead">Published: {{post.date.strftime('%B %d, %Y')}}</p>
        <hr class="my-2">
        <p>{{post.text}}</p>

        {% if post.author == current_user %}
        <div>
            <a href="{{url_for('blog_posts.update', blog_post_id=blog_post_id)}}">Update</a>
                                                                                <!--Id stworzonego modala https://getbootstrap.com/docs/4.1/components/modal/-->
            <button type="button" class="btn btn-danger" data-toggle='modal' data-target='#del_modal'>Delete</button>
        </div>
        
        {% endif %}

    </div>

    <!--Kod wystajacego modala tzw. popup           odniesienie do buttona , czyli po nacisniecu buttona Delete odpala sie popup (modal)-->
    <div class="modal" tabindex="-1" role="dialog" id=del_modal>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!--Prosty guzik prowadzacy do przejsca do delete_post view, czyli usuniecia pliku-->
                <form action="{{url_for('blog_posts.delete_post', blog_post_id=post.id)}}">
                  <input type="submit" value="Delete">
                </form>

            </div>
          </div>
        </div>
      </div>

{% endblock content %}